.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: red;
}

.about-content {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
}

.p-about {
  margin: 1rem 0;
}
.p-container {
  text-align: start;
  width: 28rem;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  height: 20rem;
  width: 20rem;
}

.p-content {
  margin-block: 1rem;
}

.canvas-span {
  display: block;
  background-color: black;
  padding: 0.25rem 0.5rem ;
  font-size: 0.85rem;
  color: #fff;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* media screen */
@media screen and (max-width: 930px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .p-container {
    text-align: center;
    gap: 1rem;
  }
  .p-content >li {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  
  .canvas-container {
    display: none;
  }
}